.Log-In {
    padding: 30px;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
}

.Header {
    display: flex;
    align-items: center;
}

.Log-In-Container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid black;
}

.Login-Text {
    padding-bottom: 15px;
    text-align: center;
}

.Form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.Long-Text {
    padding-bottom: 30px;
}