.Log-In {
    padding: 30px;
    display: flex;
    padding-top: 0rem;
    flex-direction: column;
}

.Header {
    display: flex;
    align-items: center;
}

.Log-In-Container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid black;
}

.Login-Text {
    padding-bottom: 15px;
    text-align: center;
}

.Form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.Long-Text {
    padding-bottom: 20px;
}

.Input-Field {
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.button {
    background-color: rgb(42, 42, 255);
    padding: 10px;
    color: white;
    border-radius: 5px;
}